CONFIG_BOARD_TYPE_LILYGO_T_DISPLAY_S3=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions/v2/16m.csv"
CONFIG_LANGUAGE_EN_US=y
CONFIG_OTA_URL="http://192.168.1.39:8003/xiaozhi/ota/"
