CONFIG_BOARD_TYPE_XIAO_ESP32C6=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_LANGUAGE_EN_US=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
# Update this to the laptop's IP on the event WiFi before building
CONFIG_OTA_URL="http://192.168.1.100:8003/xiaozhi/ota/"
